* {
    margin: 0;
    padding: 0;
}


@import "base/colores";
@import "base/listas";
@import "base/variables";
@import "components/header";
@import "components/footer";
@import "pages/index.scss";
@import "pages/amigos.scss";
@import "pages/contacto.scss";
@import "pages/shop.scss";
@import "pages/fotos.scss";


/*modifico la tipografia e inserto un background a todo el body*/

body {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    .titulo {
        background-image: url(../images/fondo2.jpg);
        background-size: cover;
        width: 100%;
        height: 600px;
        border-bottom: 5px solid nth($colores, 1);
    }
    
    main {
        margin-top: 100px;
        flex-grow: 1;
       
    }
}