/* aplico margin 0  y padding 0 a toda la pag */
* {
    margin: 0;
    padding: 0; }

/*modifico la tipografia e inserto un background a todo el body*/

body {
    background-image: url(images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    height: 125vh;
}

/* aplico el mismo fondo oscuro al header y footer */

header, footer {
    padding: 10px;
    background-color: rgba(47, 47, 47, 0.947);
}    

header {
    height: 140px;
}

.logo {
    height: 100px;
}

.links {
    padding: 10px;
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;    
}

.musica {
    width: 100vw;
    display: flex;
    justify-content: center;
} 

.multimedia {
    width: 80%;
    margin: 40px;
}

.perfil {
    width: 200px;
}




/* background al texto para que se lea */
.shows {
    border: 2px solid black;
    padding: 50px 40px;
    background-color: rgba(255, 255, 255, 0.709);
    display: flex;
}

.shows p {
    margin: 0px 40px;
}

footer {
    width: 100%;
    padding: 50px;
    text-decoration: none;
    list-style: none;
    position: absolute;
    bottom: 0px;
}

.icon {
    padding: 10px;
    max-height: 60px;
}

/* estilos de los otros HTML */

.mazo {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}

.perfil {
    width: 300px;
    height: fit-content;
    border-radius: 15px;
    list-style: none;
    background-color: rgba(128, 128, 128, 0.839);
    padding: 20px;  
}

.fotoperfil {
    width: 90%;
    height: 200px;
     
}
