.tituloAmigos{
    color: nth($colores, 2);
    margin-left: 20px;
}
.amigos {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .shows {
        width: 400px;
        /*height: fit-content;*/
        border-radius: 15px;
        list-style: none;
        background-color: rgba(128, 128, 128, 0.839);
        padding: 0px;
        display: flex;
        text-align: center;
        flex-direction: column;
        .fotoamigos {
            width: 100%;
            height: 200px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        a {
            all: unset;
            color: nth($colores, 2);
            font-size: large;
            &:hover {
                cursor: pointer;
                color: grey;
            }
        }

    }

}