.musica {
    width: 80vw;
    display: flex;
    justify-content: center;
}

.multimedia {
    width: 80%;
    margin: 40px;
}

.videos {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.shows {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.709);
    padding: 20px;
    margin: 0;
}


.mazo {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .perfil {
        width: 300px;
        height: fit-content;
        border-radius: 15px;
        list-style: none;
        background-color: rgba(128, 128, 128, 0.839);
        padding: 20px;
        .fotoPerfil {
            width: 90%;
            height: 200px;

        }
    }
}