footer {
    width: 100%;
    padding: 30px;
    text-decoration: none;
    background-color: nth($colores, 2);
    color: nth($colores, 4);
   
    
    .icon {
        padding: 10px;
        max-height: 60px;
        transition: all 1s;
        &:hover {
            transform: scale(1.5);
        } 
    }
    .redes {
        list-style: none;
        display: flex;
        justify-content: space-around;
           
    }
}