footer {
    width: 100%;
    padding: 30px;
    text-decoration: none;
    list-style: none;
    background-color: nth($colores, 1);
    color: nth($colores, 2);
   
    
    .icon {
        padding: 10px;
        max-height: 60px;
    }
    .links {
        padding: 10px;    
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: space-around;
        font-size: 20px;    
    }
}