
.navbar{
    padding: 0px;
    .fondoheader {
        background-color: nth($colores, 2);
        .logo {
            height: 100px;
        }
        .navbar-brand{
            padding-left: 20px;
        }
        .nav-item {
            color: nth($colores, 4);
        }
        .links {
            padding: 10px;    
            //text-decoration: none;
            list-style: none;
            display: flex;
            justify-content: space-around;
            font-size: 20px;
            color: nth($colores, 3);
            .active {
                color: nth($colores, 4);
            }
            &:hover {
                cursor: pointer;
                color: red;
            }
            
        }
    }
}






